@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

/* 기본 스타일 */
html {
    font-size: 10px;
}

body {
    background-color: skyblue;
    font-size: 1.6rem;
    font-family: 'spoqa-han-sans', sans-serif;
}

/* 스타일 초기화 */
.resetMargin {
    margin: 0;
}

.resetBox {
    margin: 0;
    padding: 0;
    border: none;
}

.resetList {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

.buttonNone {
    padding: 0;
    border: 0;
    background-color: transparent;
}
/* 링크 스타일 */
a {
    text-decoration: none;
    color: inherit;
}

/* 유틸 */
.a11yHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: polygon(0 0, 0 0, 0 0);
}

/*  모바일 & 데스크탑 공통 디바이스*/
.container {
    display: flex;
    flex-flow: row wrap;
}

.appMain {
    display: flex;
    flex-flow: row wrap;
}


.appNavigation {
    background-color: blue;
}

.appMain {
    background-color: yellow;
}

.appFooter {
    background-color: green;
}


/* .appHeader {
    display: flex;
    flex-flow: row wrap;
} */
/* 공통 브랜드 */

/* 공통 멤버링크 */
.memberOnly{
    text-align: right;
}
.memberOnly li {
    display: inline-block;
    line-height: 30px;
}
.memberOnly span {
    margin: 0 1rem;
}
/* 공통 검색 폼 */
[type="search"] {
    border: 1px solid #aaa;
    height: 35px;
    font-size: 1.4rem;
    margin-right: 5px;
    border-radius: 5px;
    padding: 2px 10px;
}
.buttonSearch, [type="search"]{
    vertical-align: middle;
}
.buttonSearch{
    color: #fff;    
}

/* 모바일 */
@media screen and (max-width:999px) {
    .container {
        background-color: teal;
    }

    .appHeader,
    .appMain,
    .appFooter {
        width: 100%;
    }

    /* 모바일 헤더 */
    .appHeader {
        display: flex;
        flex-flow: row wrap;
    }
    .appHeader {
        /* position: relative; */
        /* padding: 40px 20px 20px; */
        background-color: #38302E;
    }

    .brand,
    .memberOnly,
    .searchForm {
        width: 100%;
        margin-bottom: 15px;
        padding: 0 20px;
    }

    /* 모바일 브랜드 */
    /* 모바일 멤버링크 */
    .memberOnly {
        order: -1;
        background-color: #988574;
        color: #fff;
    }

    /* .memberOnly{
        position: absolute;
        left: 0;
        top: 0;
        text-align: right;
        width: 100%;
        background-color: #988574;
    }
    .memberOnly li{
        display: inline-block;
        line-height: 30px;
    }
    .memberOnly li * {
        color: white;
        font-size: 1.4rem;
    }
    .memberOnly li a {
        margin: 0 1rem;
    } */
    /* 모바일 검색 폼 */
    
    [type="search"] {
        width: calc(100% - 50px);
    }
    
    .buttonSearch {
        height: 35px;
        width: 35px;
        color: white;
        border: none;
        position: relative;
        font-size: 1.2rem;
        /* top: -7px; */
        cursor: pointer;
    }

    .buttonSearch::after {
        content: "";
        background-image: url(./images/btn_search.png);
        background-size: 100%;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    .appNavigation {
        position: absolute;
        left: -100%;
    }



    .appMain {
        height: 70vh;
    }

    .book,
    .news,
    .board,
    .twitter,
    .favorite {
        width: 100%;
        height: 20%
    }

    .appFooter {
        height: 15vh;
    }
}

/* 데스크탑 디바이스*/
@media screen and (min-width:1000px) {
    .container {
        background-color: #FFF;
        justify-content: center;
    }

    .appHeader,
    .appMain {
        width: 1000px;
    }

    .appNavigation,
    .appFooter {
        width: 1000px;
        padding: 0 calc((100% - 1000px) / 2);
    }
    /* 데스크탑 헤더 */
    .appHeader {
        position: relative;
        padding-bottom: 20px;
    }
    /* 데스크탑 브랜드 */
    .brand{
        position: absolute;
        top: calc( 50% - 30px );
        left: 0;
    }
    /* 데스크탑 검색 폼 */
    .searchForm{
        text-align: right;
    }
    [type="search"] {
        width:40%;
    }
    .buttonSearch{
        border: 1px solid #aaa;
        border-radius: 3px;
        background: #988574;
        padding: 0 1rem;
        height: 30px;
    }
    /* 데스크탑 멤버 링크 */
    .memberOnly {
        padding: 10px 0;
    }
    /* .appHeader {
        position: relative;
        padding: 10px 0;
    }
    .memberOnly{
        width: calc(100% - 204px);
    }
    .memberOnly li {
        line-height: 1.15;
    }
    .memberOnly li a {
        vertical-align: top;
    }
    .searchForm{
        position: absolute;
        top: 35px;
        right: 0;
    }
    [type="search"]{
        width: 400px;
        height: 35px;
        border: 1px solid #988574;
        border-radius: 5px;
        padding: 2px 10px;
        font-size: 1.4rem;
    }
    .buttonSearch{
        color: #FFF;
        font-size: 1.4rem;
        width: 55px;
        height: 35px;
        background-color: #988574;
        border: 1px solid #38302E;
        border-radius: 5px;
    } */
    .appNavigation {
        height: 20vh;
    }

    .appMain {
        height: 60vh;
        justify-content: space-between;
    }

    .appFooter {
        height: 10vh;
    }

    .book {
        width: 320px;
        background-color: #aaa;
    }

    .news {
        width: 660px;
        background-color: #bbb;
    }

    .board {
        width: 320px;
        background-color: #ccc;
    }

    .twitter {
        width: 400px;
        background-color: #ddd;
    }

    .favorite {
        width: 240px;
        background-color: #eee;
    }
}