@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
/* 기본 스타일 */
html {
    font-size: 10px;
}

body {
    background-color: skyblue;
    font-size: 1.6rem;
    font-family: 'spoqa-han-sans', sans-serif;
}
/* 스타일 초기화 */
.resetMargin{
    margin: 0;
}
.resetBox {
    margin: 0;
    padding: 0;
    border: none;
}
.resetList{
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}
/* 링크 스타일 */
a {
    text-decoration: none;
    color: inherit;
}
/* 유틸 */
.a11yHidden{
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: polygon(0 0, 0 0, 0 0);
    display: block;
}

/*  모바일 & 데스크탑 공통 */
.container {
    display: flex;
    flex-flow: row wrap;
}

.appMain {
    display: flex;
    flex-flow: row wrap;
}

.appHeader {
    background-color: red;
}

.appNavigation {
    background-color: blue;
}

.appMain {
    background-color: yellow;
}

.appFooter {
    background-color: green;
}

/* 모바일 */
@media screen and (max-width:999px) {
    .container {
        background-color: teal;
    }

    .appHeader,
    .appMain,
    .appFooter {
        width: 100%;
    }
    /* 모바일 헤더 */
    .appHeader {
        display: flex;
        flex-flow: row wrap;
        /* position: relative; */
        /* padding: 40px 20px 20px; */
        
        background-color: #38302E;
    }
    .brand,.memberOnly,.searchForm{
        width: 100%;
        margin-bottom: 10px;
        padding: 0 20px;
    }
    /* 모바일 브랜드 */
    /* 모바일 멤버링크 */
    .memberOnly{
        order: -1;
        text-align: right;
        background-color: #988574;
    }
    .memberOnly li{
        display: inline-block;
        line-height: 30px;
    }
    .memberOnly li * {
        color: #fff;
    }
    .memberOnly li a {
        margin: 0 1rem;
        font-size: 1.4rem;
    }
    /* .memberOnly{
        position: absolute;
        left: 0;
        top: 0;
        text-align: right;
        width: 100%;
        background-color: #988574;
    }
    .memberOnly li{
        display: inline-block;
        line-height: 30px;
    }
    .memberOnly li * {
        color: white;
        font-size: 1.4rem;
    }
    .memberOnly li a {
        margin: 0 1rem;
    } */
    /* 모바일 검색 폼 */
    .searchForm input{
        width: 85vw;
        height: 35px;
        font-size: 1.4rem;
        margin-right: 10px;
        border-radius: 5px;

    }
    .buttonSearch{
        height: 35px;
        width: 35px;
        border: none;
        background-image: url(./images/btn_search.png) ;
        background-color:  #38302E;
        background-size: 35px;
        text-indent: 35px;
        white-space: nowrap;
        overflow: hidden;
    }

    .appNavigation {
        position: absolute;
        left: -100%;
    }

    

    .appMain {
        height: 70vh;
    }

    .book,
    .news,
    .board,
    .twitter,
    .favorite {
        width: 100%;
        height: 20%
    }

    .appFooter {
        height: 15vh;
    }
}

/* 데스크탑 */
@media screen and (min-width:1000px) {
    .container {
        background-color: pink;
        justify-content: center;
    }

    .appHeader,
    .appMain {
        width: 1000px;
    }

    .appNavigation,
    .appFooter {
        width: 1000px;
        padding: 0 calc((100% - 1000px) / 2);
    }

    .appHeader {
        /* height: 10vh; */
    }

    .appNavigation {
        height: 20vh;
    }

    .appMain {
        height: 60vh;
        justify-content: space-between;
    }

    .appFooter {
        height: 10vh;
    }

    .book {
        width: 320px;
        background-color: #aaa;
    }

    .news {
        width: 660px;
        background-color: #bbb;
    }

    .board {
        width: 320px;
        background-color: #ccc;
    }

    .twitter {
        width: 400px;
        background-color: #ddd;
    }

    .favorite {
        width: 240px;
        background-color: #eee;
    }
}